# Visual Studio / Unity / Rider caches
.vs/
[Bb]in/
[Oo]bj/
*.user
*.suo
*.userprefs
*.csproj.user
UserSettings/
*.csproj
*.sln
.vs\

# VS / Copilot / IntelliCode indexes
CopilotIndices/
FileContentIndex/
.vscode/

# Unity
[Ll]ibrary/
[Tt]emp/
[Ll]ogs/